:root {
  --firstColor: #d0edf4;
  --secondColor: #e2f0d6;
  --thirdColor: #fcf8b9;
  --fourthColor: #ebebeb;
  --fifthColor: #fdc3c2;
  --sixthColor: #e2f0d6;
  --seventhColor: #fcf8b8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.threeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header {
    margin-top: 50px;
    margin-bottom: 200px;
}

.header h1 {
    margin-top: 0;
    font-size: 60px;
}

.header .header__column {
    display: flex;
    justify-content: space-around;
}

.header__nav span {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    color: rgba(0, 0, 0, 0.4);
}

.header__nav li {
    margin-bottom: 10px;
}

.header__nav li:last-child {
    margin-bottom: 0;
}

.grid {
    grid-auto-rows: 30vh;
    grid-gap: 20px;
}

.grid .grid__item {
    background-size: cover;
    background-position: center center;
}

.grid .grid__item:first-child {
    grid-row: span 2;
    background-color: var(--firstColor);
}

.grid .grid__item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url("https://i.pinimg.com/564x/f5/b5/4c/f5b54c03a0914950f9e8fba52beb190d.jpg");
}

.grid .grid__item:nth-child(3) {
    background-color: var(--secondColor);
}

.grid .grid__item:nth-child(4) {
    grid-row: span 2;
    background-image: url("https://i.pinimg.com/564x/20/b0/2f/20b02f91ed3b8e0cc0c66ad3f33b93ad.jpg");
}

.grid .grid__item:nth-child(5) {
    background-color: var(--thirdColor);
}

.grid .grid__item:nth-child(6) {
    background-color: var(--fourthColor);
}

.grid .grid__item:nth-child(7) {
    background-image: url("https://i.pinimg.com/564x/7b/b0/da/7bb0daa37a93a80f6f8df7ec02ff646b.jpg");
}

.grid .grid__item:nth-child(8) {
    grid-area: span 2/ span 2;
    background-color: var(--fifthColor);
}

.grid .grid__item:nth-child(9) {
    grid-row: span 2;
    background-image: url("https://i.pinimg.com/564x/8f/15/70/8f157012560939854fa7be0a50a8604e.jpg");
}

.grid .grid__item:nth-child(10) {
    grid-area: span 2 / span 2;
    background-image: url("https://i.pinimg.com/564x/36/ba/ed/36baed61b4b84b02328799445138a783.jpg");
}

.grid .grid__item:nth-child(11) {
    background-image: url("https://i.pinimg.com/564x/c4/81/41/c4814118fe1210383aca543b00b46138.jpg");

}

.grid .grid__item:nth-child(12) {
    background-image: url("https://i.pinimg.com/564x/56/15/3f/56153fda6c27f6fb5c4a42124c723633.jpg");
}

.grid .grid__item:nth-child(13) {
    grid-area: span 2 / span 2;
    background-color: var(--sixthColor);
}

.grid .grid__item:nth-child(14) {
    background-image: url("https://i.pinimg.com/564x/b1/b9/d5/b1b9d5702ac352d498b0b141e8396736.jpg");
}

.grid .grid__item:nth-child(15) {
    background-color: var(--seventhColor);
}